.talent-card {
  padding: 15px 20px 20px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 10px;
}

// Head section

.talent-card__head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}

.talent-card__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.talent-card__user-info {
  margin-left: 15px;
}

.talent-card__user-title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  color: #323232;
  display: flex;
  align-items: center;
}

.talent-card__user-name {
  margin-right: 12px;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
}

.talent-card__user-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.talent-card__job {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.talent-card__job-success {
  padding: 0 20px;
}

.talent-card__job-percent {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
}

.talent-card__job-percent--line {
  display: flex;
  width: 100px;
  height: 3px;
  background: #cdcdcd;
  border-radius: 2px;
}

.talent-card__percent-line {
  display: inline-block;
  height: 3px;
  background: #1d71b8;
  border-radius: 2px;
}

.talent-card__percent-line--80 {
  width: 80%;
}

.talent-card__percent-line--60 {
  width: 80%;
}

.talent-card__percent-line--40 {
  width: 80%;
}

.talent-card__percent-line--20 {
  width: 80%;
}

.talent-card__job-text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808080;
}

.talent-card__job-payment {
  margin: 0;
  padding: 0;
  padding: 0 20px;
}

.talent-card__job-payment--amount {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  display: block;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #323232;
}

.talent-card__job-payment--text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808080;
}

.talent-card__job-amount {
  margin: 0;
  padding: 0;
  padding: 0 20px;
}

.talent-card__job-amount--number {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  color: #323232;
}

.talent-card__job-amount--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.talent-card__like-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(29, 113, 184, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.stroke {
  width: 1px;
  height: 54px;
  background-color: #cdcdcd;
}

// Body section

.talent-card__body {
  padding-top: 10px;
}

.talent-card__body-description {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
}

.talent-card__body-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.talent-card__body-image {
  margin-top: 16px;
  cursor: pointer;
}

.talent-card__body-abilities {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.talent-card__body-abilities--level {
  margin: 0;
  padding: 0;
}

.talent-card__body-abilities--list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 10px;
}

.talent-card__body-ability {
  padding: 6px 10px;
  color: #1d71b8;
  background: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  cursor: pointer;
}

// footer section
.talent-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.talent-card__footer-experience {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.talent-card__footer-experience--span {
  color: #1d71b8;
  font-weight: 700;
}

.talent-card__footer-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talent-card__footer-location--text {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #808080;
}
