.firstLine-img{
  width:100%;
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  img{
    cursor: pointer;
  }
}

.carousel-rezume{
  width: 100%;
  height: 65vh;
  border: 1px solid black;
}
.websiteInput{
  padding: 0 60px 0 10px;
}
.img-label{
  position: absolute!important;
  margin-left: 83% !important;
  margin-top: 2%;
}
.img-label1{
  position: absolute!important;
  margin-left: 74% !important;
  margin-top: 2%;
}
.all-inputs-class{
  width: 600px!important;
  padding: 0 60px 0 10px;
}
.watsApp{
  transition: 1.3s linear!important;
  display: none;
  .x-img{
    margin-top: -7.1%;
    position: absolute;
    width: 64px;
    height: 54px;
    margin-left: 81%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .1s linear;
    &:hover{
      color: red;
      transition: .1s linear;
    }
  }
}
.facebook{
  display: none;
  img{
    width: 30px;
    height: 30px;
  }
  .x-img2{
    margin-top: -7.1%;
    position: absolute;
    width: 64px;
    height: 54px;
    margin-left: 81%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .1s linear;
    img{
      width: 17px;
      height: 16px;
    }
    &:hover{
      color: red;
      transition: .1s linear;
    }
  }
}
.instagram{
  display: none;
  img{
    width: 30px;
    height: 30px;
  }
  .x-img2{
    margin-top: -7.1%;
    position: absolute;
    width: 64px;
    height: 54px;
    margin-left: 81%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .1s linear;
    img{
      width: 17px;
      height: 16px;
    }
    &:hover{
      color: red;
      transition: .1s linear;
    }
  }
}
.telegram{
  display: none;
  img{
    width: 30px;
    height: 30px;
  }
  .x-img2{
    margin-top: -7.1%;
    position: absolute;
    width: 64px;
    height: 54px;
    margin-left: 81%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .1s linear;
    img{
      width: 17px;
      height: 16px;
    }
    &:hover{
      color: red;
      transition: .1s linear;
    }
  }
}
.gitHub{
  display: none;
  img{
    width: 30px;
    height: 30px;
  }
  .x-img2{
    margin-top: -7.1%;
    position: absolute;
    width: 64px;
    height: 54px;
    margin-left: 81%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .1s linear;
    img{
      width: 17px;
      height: 16px;
    }
    &:hover{
      color: red;
      transition: .1s linear;
    }
  }
}
.twitter{
  display: none;
  img{
    width: 30px;
    height: 30px;
  }
  .x-img2{
    margin-top: -7.1%;
    position: absolute;
    width: 64px;
    height: 54px;
    margin-left: 81%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    transition: .1s linear;
    img{
      width: 17px;
      height: 16px;
    }
    &:hover{
      color: red;
      transition: .1s linear;
    }
  }
}
