.filter-card {
    width: 100%;
    height: 933px;
    padding: 30px;
    background: linear-gradient(101.5deg, rgba(255, 255, 255, 0.2) 0%, rgba(29, 113, 184, 0.2) 100%), #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.filter-card__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.filter-card__payment-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-card__payment-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.filter-card__payment-from {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}

.filter-card__payment-from--input {
    width: 180px;
    margin-top: 8px;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 8px;

    &::placeholder {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #808080;
    }
}

.filter-card__payment-to {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}

.filter-card__payment-to--input {
    width: 180px;
    margin-top: 8px;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 8px;

    &::placeholder {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #808080;
    }
}

.filter-card__success-title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.filter-card__success-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 8px;

    &::placeholder {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #808080;
    }
}

.filter-card__level-selects {
    display: flex;
    justify-content: space-between;
}

.filter-card__level-from--span {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}

.filter-card__level-to--span {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}

.filter-card__level-select {
    width: 180px;
    height: 54px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
}

.filter-card__select-span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    cursor: pointer;
}

.filter-card__level {
    position: relative;
}

.filter-card__level-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.filter-card__list-item {
    width: 140px;
    padding: 5px 0;
    border-bottom: 1px solid #000;

    &:last-child {
        border-bottom: none;
    }
}

.filter-card__employee {
    width: fit-content;
    margin: 20px auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: #323232;

    & input {
        display: inline-block;
        margin-right: 10px;
        border: 1px solid #1D71B8;
        border-radius: 6px;
    }
}

.filter-card__region-wrapper {
    width: 390px;
    height: 64px;
    margin: 10px 0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: inset -15px 0px 10px #FFFFFF;
    border-radius: 8px;
}

.filter-card__region-image {
    width: 24px;
    height: 24px;
    padding: 9px 6px;
    background: rgba(29, 113, 184, 0.1);
    border-radius: 6px;

    & img {
        display: block;
    }
}

.filter-card__region-choices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-card__region-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.filter-card__region-choice {
    margin-right: 10px;
    padding: 6px 10px;
    background: #1D71B8;
    border-radius: 6px;

    &:last-child {
        margin-right: 0;
    }
}

.filter-card__region-choice--text {
    margin-right: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.filter-card__jobs {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.filter-card__jobs-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 8px;

    &::placeholder {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #808080;
    }
}

.filter-card__skills-span {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.filter-card__skills-choices {
    width: 100%;
    height: 64px;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: inset -15px 0px 10px #FFFFFF;
    border-radius: 8px;
}

.filter-card__skills-choice {
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
    padding: 6px 10px;
    background: #1D71B8;
    border-radius: 6px;

    &:last-child {
        margin-right: 0;
    }
}

.filter-card__skills-choice--text {
    margin-right: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.filter-card__button {
    width: 153px;
    height: 44px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1D71B8;
    border: 1px solid #1D71B8;
    border-radius: 8px;
}