.job-modal {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 200vh;
  width: 86.71%;
  background: #f5f5f7;
  z-index: 10;
}

.job-modal__close-btn {
  padding: 15px;
  transform: translateX(-100%);
  background: #f5f5f7;
  border: none;
  border-radius: 0px 8px 8px 0px;
  position: absolute;
}

.job-modal__close-icon {
  display: block;
  padding: 12px;
  border: 1px solid #1d71b8;
  border-radius: 6px;
}

.job-modal__page {
  width: 55.85%;
  padding: 30px 50px;
}

.job-modal__head {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.job-modal__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.job-modal__price {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.job-modal__text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

.job-modal__like-icon {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding: 16px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(29, 113, 184, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.job-modal__form {
  margin: 30px 0;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 54px 126px 54px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-areas:
    "price terms"
    "covering-letter covering-letter"
    "file button";
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.job-modal__form-price {
  grid-area: price;
  position: relative;
  & .input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
  }
  & .span {
    padding: 14px 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    background: #f5f5f7;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
  }
}

.job-modal__form-terms {
  grid-area: terms;
  position: relative;
  & .input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
  }
  & .span {
    padding: 14px 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    background: #f5f5f7;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
  }
}

.job-modal__form-covering--letter {
  grid-area: covering-letter;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  resize: none;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 8px;

  &:placeholder-shown {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #808080;
  }
}

.job-modal__form-file {
  grid-area: file;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  position: relative;

  & .input {
    width: 100%;
    height: 100%;
    display: none;
  }

  & .span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 20px;
    background: #1d71b8;
    border-radius: 7px;
  }
}

.job-modal__form-button {
  grid-area: button;
  padding: 12px 20px;
  width: fit-content;
  height: fit-content;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  background: #1d71b8;
  border-radius: 8px;
  border: none;
}

// Sidebar Section Styles

.job-modal__sidebar {
  width: 100%;
  padding: 40px 30px;
  text-align: center;
}

.job-modal__sidebar-link {
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #1d71b8;
}

.job-modal__sidebar-user {
  margin-top: 50px;
}

.user__job-history {
  width: fit-content;
  margin: 0 auto;
  padding: 0 56px;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd;
}

.user__job-payment--number {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  padding: 0 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #323232;
}

.stripe {
  border-right: 1px solid #cdcdcd;
}

.user__job-payment--text {
  margin: 0;
  padding: 0;
  padding: 0 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808080;
}