.client-card {
  margin-bottom: 10px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
}

.client-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #323232;
}

.client-card__subtitles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-card__subtitles-time {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.client-card__subtitles-date {
  margin: 0;
  padding: 0;
  margin-left: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.client-card__description {
  margin: 16px 0 20px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border-top: 1px solid #cdcdcc;
  border-bottom: 1px solid #cdcdcc;

  & p {
    margin: 0;
    padding: 0;
  }

  & img {
    margin-top: 25px;
    cursor: pointer;
  }
}

.client-card__user {
  display: flex;
  align-items: center;
}

.client-card__user-name--wrapper {
  margin-left: 15px;
}

.client-card__user-name {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.client-card__user-subtext {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.client-history__user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.client-history__user-info--wrapper {
  padding: 0 20px;
  border-right: 1px solid #cdcdcc;

  &:last-child {
    border: none;
  }
}

.client-history__user-info--title {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #323232;
}

.client-history__user-info--subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808080;
}
