.about-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .about-page-box {
    position: absolute;
    width: 1410px;
    height: auto;
    left: 255px;
    top: 234px;
    z-index: 11;
    background: linear-gradient(101.5deg, rgba(255, 255, 255, 0.2) 0%, rgba(29, 113, 184, 0.2) 100%), #FFFFFF;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    align-items: center;
    .left{
      width: 870px;
      height: 490px;
      overflow: hidden;
      box-sizing: border-box;
      video{
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
      .video-js{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        .vjs-big-play-button{
          width: 100px;
          height: 100px;
          border: none;
          background: none;
          background-image: url("../../img/playVideo.png");
          background-repeat: no-repeat;
          background-size: 90px 90px;
        }
        .vjs-icon-placeholder{
          display: none;
        }
      }
      .vjs-poster{
        border-radius: 12px;
      }
    }
    .right{
      margin-left: 30px;
      padding-left: 30px;
      width: 420px;
      border-left: 1px solid rgba(128, 128, 128, 0.3);

      .box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        h3{
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 37px;
          color: #323232;
        }

        .linkBox{
          width: 40%;
          display:flex;
          justify-content: space-between;
          img{
            width: auto;
            height: 44px;
          }
        }
      }
      p{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: justify;
        color: #323232;
      }
    }
  }
  .patternn2 {
    width: 50vw;
    height: 50vw;
    position: absolute;
    right: -13%!important;
    bottom: -40%;
    img {
      width: 100%;
      position: absolute;

      &:nth-child(1) {
        z-index: 5;
      }

      &:nth-child(2) {
        left: 7vw;
        top: 7vw;
        width: 72%;
        z-index: 4;
      }

      &:nth-child(3) {
        left: 9.4vw;
        top: 9.4vw;
        width: 63.1%;
        z-index: 8;
        animation: pattern3 50s linear infinite;
      }

      &:nth-child(4) {
        left: 15vw;
        top: 15vw;
        width: 40%;
        z-index: 7;
        animation: pattern4 50s linear infinite;
      }

      &:nth-child(5) {
        left: 19vw;
        top: 19.1vw;
        width: 24%;
        z-index: 6;
        animation: pattern5 30s linear infinite;
      }
    }

    @keyframes pattern5 {
      0% {
        transform: rotate(1turn);
      }
    }
    @keyframes pattern4 {
      0% {
        transform: rotate(-1turn);
      }
    }
    @keyframes pattern3 {
      0% {
        transform: rotate(1turn);
      }
    }
  }
}

@media (max-width: 768px) {

}


