$mainColor: #1D71B8;

.ContactUsPageBox{
  position: absolute;
  width: 1410px;
  height: auto;
  left: 255px;
  top: 234px;
  z-index: 11;
  display: flex;
  justify-content: space-between;

  .left{
    padding-top: 7%;
    button{
      width: 570px;
      height: 100px;
      border: none;
      margin: 15px 0;
      background: #FFFFFF;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #323232;
      img{
        width: 40px;
        height: auto;
        margin-right: 20px;
      }
    }
  }
  .right{
    width: 690px;
    height: 620px;
    background: #FFFFFF;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px;
    position: relative;

    h2{
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #323232;
      margin-bottom: 10px;
    }
    p{
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      color: #808080;
      margin-bottom: 30px;
    }
    input{
      height: 54px;
      border-radius: 8px;
    }
    textarea{
      border-radius: 8px;
    }
    button{
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: $mainColor;
      border: 1px solid $mainColor;
      background: none;
      width: 118px;
      height: 44px;
      border-radius: 8px;
      position: absolute;
      right: 30px;
      bottom: 35px;

      &:focus, &:hover, &:active {
        box-shadow: none !important;
        background: $mainColor;
        color: #FFFFFF;
      }
    }
  }
}